<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h2>Repos</h2>

<ul>
  <% current_user.repos.each do |repo| %>
    <li>
    <%= link_to repo.full_name, repository_path(:login => repo.owner.login, :repo => repo.name) %>
    <%= repo.full_name %>
    <br/>
    <small><%= repo.description %></small>
    </li>
  <% end %>
</ul>
